<!DOCTYPE html>
<html>

<head>
  <title>Recordatorio de su cita</title>
</head>

<body>
  <h1>Hola, {{first_name}}!</h1>
  <p>Solo queremos recordarte que su cita en DentAll sigue en nuestra agenda y esperamos verle pronto por aqui.</p>
  <h4>Detalles de su cita:</h4>
  <ul>
    <li>Fecha y hora: {{date_time}}</li>
    <li>Doctor: {{dentist}}</li>
    <li>Servicio: {{service}}</li>
  </ul>
  <p>Si necesita realizar cambios, puede hacerlo en la sección de Citas de su cuenta en DentAll.</p>
  <p>Por favor, no dude en contactarnos si tiene alguna pregunta.</p>
  <p>Gracias por preferirnos.</p>
  <p>DentAll</p>
</body>

</html>