<!DOCTYPE html>
<html>

<head>
    <title>Cancelacion de su cita</title>
</head>

<body>
    <h1>Hola, {{first_name}}!</h1>
    <p>Le notificamos que su cita ha sido cancelada en DentAll con exito.</p>
    <h4>Detalles de su cita:</h4>
    <ul>
        <li>Fecha y hora: {{date_time}}</li>
    </ul>
    <p>Si se trata de un error puede comunicarse con nosotros.</p>
    <p>Por favor, no dude en contactarnos si tiene alguna pregunta.</p>
    <p>Gracias por preferirnos.</p>
    <p>DentAll</p>
</body>

</html>