.gradient {
    width: 300px;
    height: 300px;
    transform: rotate(115deg);
    flex-shrink: 0;
    border-radius: 233px;
    background: linear-gradient(180deg, #2EE0E0 1.72%, rgba(0, 94, 249, 0.21) 98.78%);
    filter: blur(150px);
  }
  