@import url('https://fonts.googleapis.com/css2?family=Maven+Pro:wght@400;700&family=Mulish:wght@400;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --green-100:#CAFCD9;
    --green-200:#96FABE;
    --green-300:#60F0A8;
    --green-400:#38E19E;
    --green-500:#00CE90;
    --green-600:#1A9850;
    --green-700:#009484;
    --green-800:#007776;
    --green-900:#005962;

}


body, p{
  font-family: 'Mulish', sans-serif;
}

h1, h2, h3, h4, h5, h6, a {
  font-family: 'Maven Pro', sans-serif;
}














