@keyframes \#sktrkv {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
}
@keyframes \#1u71gqz {
  0%,
  40% {
    transform: translateY(0%) scale(1);
  }
  20% {
    transform: translateY(-100%) scale(1.11);
  }
}
*,
::before,
::after {
  --uxt0a3: var(--rz3pvs, /*!*/ /*!*/);
  --d23dg5: var(--rz3pvs, /*!*/ /*!*/);
  --7qvkhk: var(--rz3pvs, /*!*/ /*!*/);
  --7tbd7s: var(--rz3pvs, /*!*/ /*!*/);
  --1ymuujp: var(--rz3pvs, /*!*/ /*!*/);
  --gg0zj1: var(--rz3pvs, /*!*/ /*!*/);
  --167lzxa: var(--rz3pvs, /*!*/ /*!*/);
  --vva8yi: var(--rz3pvs, /*!*/ /*!*/);
  --as73o4: var(--rz3pvs, /*!*/ /*!*/);
}
::backdrop {
  --uxt0a3: var(--rz3pvs, /*!*/ /*!*/);
  --d23dg5: var(--rz3pvs, /*!*/ /*!*/);
  --7qvkhk: var(--rz3pvs, /*!*/ /*!*/);
  --7tbd7s: var(--rz3pvs, /*!*/ /*!*/);
  --1ymuujp: var(--rz3pvs, /*!*/ /*!*/);
  --gg0zj1: var(--rz3pvs, /*!*/ /*!*/);
  --167lzxa: var(--rz3pvs, /*!*/ /*!*/);
  --vva8yi: var(--rz3pvs, /*!*/ /*!*/);
  --as73o4: var(--rz3pvs, /*!*/ /*!*/);
}
*,
::before,
::after {
  --1e4pbj4: 0;
  --142admc: 0;
  --9ouawy: 0;
  --wnlb2r: 0;
  --o4ir2d: 0;
  --vkgkf8: 1;
  --1lff04g: 1;
  --mfoggb: translateX(var(--1e4pbj4)) translateY(var(--142admc))
    rotate(var(--9ouawy)) skewX(var(--wnlb2r)) skewY(var(--o4ir2d))
    scaleX(var(--vkgkf8)) scaleY(var(--1lff04g));
}
::backdrop {
  --1e4pbj4: 0;
  --142admc: 0;
  --9ouawy: 0;
  --wnlb2r: 0;
  --o4ir2d: 0;
  --vkgkf8: 1;
  --1lff04g: 1;
  --mfoggb: translateX(var(--1e4pbj4)) translateY(var(--142admc))
    rotate(var(--9ouawy)) skewX(var(--wnlb2r)) skewY(var(--o4ir2d))
    scaleX(var(--vkgkf8)) scaleY(var(--1lff04g));
}
*,
::before,
::after {
  --1s0t3ke: 0 0 #0000;
  --zxn4nw: 0 0 #0000;
  --1qg7wmx: 0 0 #0000;
  --1764mcg: 0 0 #0000;
}
::backdrop {
  --1s0t3ke: 0 0 #0000;
  --zxn4nw: 0 0 #0000;
  --1qg7wmx: 0 0 #0000;
  --1764mcg: 0 0 #0000;
}
*,
::before,
::after {
  box-sizing: border-box;
  border-width: 0;
  border-style: solid;
  border-color: #e5e7eb;
}
::before,
::after {
  --328t5w: "";
}
html {
  line-height: 1.5;
  -webkit-text-size-adjust: 100%;
  -moz-tab-size: 4;
  -moz-tab-size: 4;
  tab-size: 4;
  font-family: Inter, sans-serif;
  font-feature-settings: normal;
}
body {
  margin: 0;
  line-height: inherit;
}
hr {
  height: 0;
  color: inherit;
  border-top-width: 1px;
}
abbr:where([title]) {
  -webkit-text-decoration: underline dotted;
  text-decoration: underline dotted;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}
a {
  color: inherit;
  -webkit-text-decoration: inherit;
  text-decoration: inherit;
}
b,
strong {
  font-weight: bolder;
}
code,
kbd,
samp,
pre {
  font-family: Fira Code, monospace;
  font-feature-settings: normal;
  font-size: 1em;
}
small {
  font-size: 80%;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sub {
  bottom: -0.25em;
}
sup {
  top: -0.5em;
}
table {
  text-indent: 0;
  border-color: inherit;
  border-collapse: collapse;
}
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: inherit;
  color: inherit;
  margin: 0;
  padding: 0;
}
button,
select {
  text-transform: none;
}
button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
  background-color: transparent;
  background-image: none;
}
:-moz-focusring {
  outline: auto;
}
:-moz-ui-invalid {
  box-shadow: none;
}
progress {
  vertical-align: baseline;
}
::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}
[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}
::-webkit-search-decoration {
  -webkit-appearance: none;
}
::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}
summary {
  display: list-item;
}
blockquote,
dl,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
figure,
p,
pre {
  margin: 0;
}
fieldset {
  margin: 0;
  padding: 0;
}
legend {
  padding: 0;
}
ol,
ul,
menu {
  list-style: none;
  margin: 0;
  padding: 0;
}
textarea {
  resize: vertical;
}
input::placeholder,
textarea::placeholder {
  opacity: 1;
  color: #9ca3af;
}
button,
[role="button"] {
  cursor: pointer;
}
:disabled {
  cursor: default;
}
img,
svg,
video,
canvas,
audio,
iframe,
embed,
object {
  display: block;
  vertical-align: middle;
}
img,
video {
  max-width: 100%;
  height: auto;
}
[hidden] {
  display: none;
}
.\#1r7adht {
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
}
.\#16oz6ce {
  --142admc: calc(50% * -1);
  transform: var(--mfoggb);
}
.\#1qseswm::placeholder {
  --7owgt5: 1;
  color: rgba(138, 141, 148, var(--7owgt5));
}
.\#1xzufvm {
  --dxr4o8: 1;
  color: rgba(27, 32, 34, var(--dxr4o8));
}
.\#11c919o {
  --dxr4o8: 1;
  color: rgba(127, 131, 137, var(--dxr4o8));
}
.\#1m5t6ap {
  --dxr4o8: 1;
  color: rgba(0, 144, 255, var(--dxr4o8));
}
.\#1fiqt1o {
  --dxr4o8: 1;
  color: rgba(87, 124, 48, var(--dxr4o8));
}
.\#ofr9yh {
  --dxr4o8: 1;
  color: rgba(17, 50, 100, var(--dxr4o8));
}
.\#w7bxre {
  --dxr4o8: 1;
  color: rgba(96, 100, 105, var(--dxr4o8));
}
.\#nla70n {
  --dxr4o8: 1;
  color: rgba(220, 63, 150, var(--dxr4o8));
}
.\#1vkqdkm {
  --dxr4o8: 1;
  color: rgba(224, 225, 228, var(--dxr4o8));
}
.\#1wshxmh {
  --dxr4o8: 1;
  color: rgba(255, 255, 255, var(--dxr4o8));
}
.\#1qok484 {
  --1qg7wmx: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px -1px rgba(0, 0, 0, 0.1);
  --1764mcg: 0 1px 3px 0 var(--ljh26m), 0 1px 2px -1px var(--ljh26m);
  box-shadow: var(--1s0t3ke), var(--zxn4nw), var(--1qg7wmx);
}
.\#1wsq3fe {
  --1qg7wmx: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -2px rgba(0, 0, 0, 0.1);
  --1764mcg: 0 4px 6px -1px var(--ljh26m), 0 2px 4px -2px var(--ljh26m);
  box-shadow: var(--1s0t3ke), var(--zxn4nw), var(--1qg7wmx);
}
.\#x1kmc5 {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.\#1sn8zhu {
  position: absolute;
}
.\#1yvv0m5 {
  animation: \#1u71gqz1.5sease-ininfinite;
}
.\#1fw95sl {
  animation: \#sktrkv2scubic-bezier(0.4, 0, 0.6, 1)infinite;
}
.\#1yjno4c {
  cursor: pointer;
}
.\#1mjcm6l {
  display: flex;
}
.\#l89sim {
  flex: none;
}
.\#11d99b4 {
  grid-gap: 0.25rem;
  gap: 0.25rem;
}
.\#181jmfd {
  grid-gap: 0.375rem;
  gap: 0.375rem;
}
.\#d5cgau {
  grid-gap: 0.5rem;
  gap: 0.5rem;
}
.\#1bwx03h {
  grid-gap: 1rem;
  gap: 1rem;
}
.\#1nr51oa {
  display: -ms-grid;
  display: grid;
}
.\#k40417 {
  height: 1.5em;
}
.\#st28uh {
  height: 0.375rem;
}
.\#1fk2nmm {
  height: 0.75rem;
}
.\#1hot1jz {
  height: 1rem;
}
.\#zs3ien {
  height: 1.25rem;
}
.\#3359uy {
  height: 1.75rem;
}
.\#1n1st89 {
  height: 2rem;
}
.\#rh2uuq {
  height: 2.25rem;
}
.\#10o2hg7 {
  height: 2.75rem;
}
.\#zyre4j {
  height: 3rem;
}
.\#ux4pmf {
  height: 4rem;
}
.\#i6el26 {
  height: 5rem;
}
.\#7qhxze {
  height: 100%;
}
.\#zkrgdo {
  display: none;
}
.\#ot4hn2 {
  display: inline-block;
}
.\#1trgf35 {
  margin: 0.5rem;
}
.\#1nqad9i {
  margin: 0.75rem;
}
.\#1dzpky1 {
  overflow: hidden;
}
.\#670un0 {
  padding: 0.125rem;
}
.\#syeplv {
  padding: 0.25rem;
}
.\#32n58r {
  padding: 0.5rem;
}
.\#1h78d20 {
  padding: 0.75rem;
}
.\#1j8og5w {
  padding: 1rem;
}
.\#1sbljzj {
  padding: 1.5rem;
}
.\#pr5fit {
  padding: 1px;
}
.\#1s4gyw3 {
  position: relative;
}
.\#11wrvu7 {
  resize: none;
}
.\#1xafewy {
  width: 95%;
}
.\#z9bam5 {
  width: 0.375rem;
}
.\#8mkogd {
  width: 0.75rem;
}
.\#sv8snl {
  width: 1rem;
}
.\#ws8o6i {
  width: 1.25rem;
}
.\#10lqbm2 {
  width: 1.75rem;
}
.\#pk3cd7 {
  width: 2rem;
}
.\#fszxzn {
  width: 2.25rem;
}
.\#1n0sv8k {
  width: 4rem;
}
.\#svqbo2 {
  width: 100%;
}
.\#7hp1nd {
  --17cwy6m: 0.3;
  background-color: rgba(0, 0, 0, var(--17cwy6m));
}
.\#1ql29q7 {
  --uxt0a3: blur(1px);
  -webkit-backdrop-filter: var(--uxt0a3) var(--d23dg5) var(--7qvkhk)
    var(--7tbd7s) var(--1ymuujp) var(--gg0zj1) var(--167lzxa) var(--vva8yi)
    var(--as73o4);
  backdrop-filter: var(--uxt0a3) var(--d23dg5) var(--7qvkhk) var(--7tbd7s)
    var(--1ymuujp) var(--gg0zj1) var(--167lzxa) var(--vva8yi) var(--as73o4);
}
.\#flqfxb {
  --17cwy6m: 1;
  background-color: rgba(27, 32, 34, var(--17cwy6m));
}
.\#cyixfu {
  --17cwy6m: 1;
  background-color: rgba(127, 131, 137, var(--17cwy6m));
}
.\#1sbqy3t {
  --17cwy6m: 1;
  background-color: rgba(0, 144, 255, var(--17cwy6m));
}
.\#1xr0huw {
  --17cwy6m: 1;
  background-color: rgba(96, 100, 105, var(--17cwy6m));
}
.\#1ftnbe0 {
  --17cwy6m: 1;
  background-color: rgba(172, 216, 252, var(--17cwy6m));
}
.\#19g0g61 {
  --17cwy6m: 1;
  background-color: rgba(239, 240, 242, var(--17cwy6m));
}
.\#538l7y {
  --17cwy6m: 1;
  background-color: rgba(248, 250, 243, var(--17cwy6m));
}
.\#wnlf5x {
  --17cwy6m: 1;
  background-color: rgba(255, 255, 255, var(--17cwy6m));
}
.\#1m4nxet {
  --20lssk: 1;
  border-color: rgba(224, 225, 228, var(--20lssk));
}
.\#6w2z0k {
  --20lssk: 1;
  border-color: rgba(239, 240, 242, var(--20lssk));
}
.\#9ahoeg {
  margin-left: auto;
  margin-right: auto;
}
.\#faekao {
  outline: 2px solid transparent;
  outline-offset: 2px;
}
.\#14k388z {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}
.\#19yruch {
  padding-left: 0.75rem;
  padding-right: 0.75rem;
}
.\#17u01q8 {
  padding-left: 1rem;
  padding-right: 1rem;
}
.\#pcmbr8 {
  padding-top: 0.125rem;
  padding-bottom: 0.125rem;
}
.\#iag4p0 {
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
}
.\#44x4m4 {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}
.\#8wf339 {
  font-size: 1.5rem;
  line-height: 2rem;
}
.\#d3y1t6 {
  font-size: 1.875rem;
  line-height: 2.25rem;
}
.\#qrruoc {
  font-size: 1rem;
  line-height: 1.5rem;
}
.\#1kh02dk {
  font-size: 1.125rem;
  line-height: 1.75rem;
}
.\#1aabpnr {
  font-size: 0.875rem;
  line-height: 1.25rem;
}
.\#4619ew {
  font-size: 1.25rem;
  line-height: 1.75rem;
}
.\#fmvoxr {
  font-size: 0.75rem;
  line-height: 1rem;
}
.\#pwky00 {
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}
.\#m7jhhm {
  transition-property: color, background-color, border-color,
    text-decoration-color, fill, stroke;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}
.\#1qna7ed {
  container-type: inline-size;
}
.\#81t9ci {
  top: 50%;
}
.\#phmo8p {
  aspect-ratio: 1/1;
}
.\#ogssnq {
  background-position: center;
}
.\#2hvhpq {
  background-image: linear-gradient(to bottom, var(--wt1r4o));
}
.\#1ao53iu {
  background-repeat: no-repeat;
}
.\#18d6dyf {
  border-width: 1px;
}
.\#b85nii {
  bottom: 64px;
}
.\#jnpmx9 {
  word-break: break-all;
}
.\#559h8y {
  grid-column: span 2 / span 2;
}
.\#li55pj {
  -webkit-flex-direction: column;
  flex-direction: column;
}
.\#1ouglo0 {
  flex-grow: 1;
}
.\#gmpj1t {
  flex-wrap: wrap;
}
.\#1thlppk {
  font-weight: 300;
}
.\#l8gsx0 {
  font-weight: 500;
}
.\#1g57ar7 {
  font-family: Rubik, sans-serif;
}
.\#1yaon3 {
  grid-column-gap: 0.5rem;
  -moz-column-gap: 0.5rem;
  column-gap: 0.5rem;
}
.\#1wxsfeg {
  grid-row-gap: 1.5rem;
  row-gap: 1.5rem;
}
.\#1uebn5p {
  flex-grow: 1;
}
.\#8gfukc {
  align-items: center;
}
.\#m56y9g {
  align-items: flex-end;
}
.\#3gv41o {
  justify-content: space-between;
}
.\#vlgikd {
  justify-content: center;
}
.\#uf1jtr {
  justify-items: center;
}
.\#ejtmmw {
  left: 0px;
}
.\#1y1dokl {
  left: 0.25rem;
}
.\#kjdi3m {
  max-width: 60ch;
}
.\#16quded {
  max-width: 80%;
}
.\#1ji6ysu {
  max-width: 85%;
}
.\#1x6jw3u {
  margin-bottom: 0.5rem;
}
.\#1qrg6bv {
  margin-bottom: 0.75rem;
}
.\#1ouz2s6 {
  margin-bottom: auto;
}
.\#940ixx {
  min-width: 100px;
}
.\#1n2h0q8 {
  margin-left: 0.5rem;
}
.\#zwxs32 {
  margin-left: auto;
}
.\#v084ho {
  margin-top: 0.25rem;
}
.\#1l5dcu3 {
  margin-top: 1rem;
}
.\#bdcbb7 {
  margin-top: auto;
}
.\#i4pkvi {
  object-fit: cover;
}
.\#1fglqhk {
  overflow-x: hidden;
}
.\#bu1z3j {
  overflow-y: auto;
}
.\#1uq1gb {
  padding-bottom: 3rem;
}
.\#1tdmz0u {
  padding-left: 0.5rem;
}
.\#1dhv4xq {
  padding-left: 0.75rem;
}
.\#dcbvrj {
  pointer-events: auto;
}
.\#b8zewp {
  pointer-events: none;
}
.\#1yjrthf {
  padding-right: 0.5rem;
}
.\#rz66yf {
  padding-top: 0.25rem;
}
.\#g1vl2u {
  right: 0.25rem;
}
.\#1g7bz1x {
  grid-row: span 2 / span 2;
}
.\#1wbns4a {
  scroll-behavior: smooth;
}
.\#7kdmas {
  -ms-grid-row-align: flex-end;
  align-self: flex-end;
}
.\#omx1ti {
  flex-shrink: 0;
}
.\#69me9e {
  background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 20 20' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M4.583 14.894l-3.256 3.78c-.7.813-1.26.598-1.25-.46a10689.413 10689.413 0 0 1 .035-4.775V4.816a3.89 3.89 0 0 1 3.88-3.89h12.064a3.885 3.885 0 0 1 3.882 3.89v6.185a3.89 3.89 0 0 1-3.882 3.89H4.583z' fill='%23FFFFFF' fill-rule='evenodd'%3E%3C/path%3E%3C/svg%3E");
}
.\#xwomwz {
  text-align: center;
}
.\#1wyi5mv {
  text-align: left;
}
.\#wvo4jn {
  z-index: 10;
}
.\#1sihkcl {
  z-index: 30;
}
.\#el1mx6 {
  grid-auto-columns: 90%;
}
.\#az1w7i {
  grid-column-start: 2;
}
.\#1bb5zjq {
  grid-column-start: 3;
}
.\#p6mpzj {
  grid-column-start: 6;
}
.\#gpks42 {
  -ms-grid-columns: auto 1fr auto;
  grid-template-columns: auto 1fr auto;
}
.\#9mjep6 {
  -ms-grid-columns: repeat(6, auto);
  grid-template-columns: repeat(6, auto);
}
.\#stygi7 {
  grid-auto-flow: column;
}
.\#1hoov49 {
  list-style-type: decimal;
}
.\#isuknn {
  list-style-type: disc;
}
.\#7r92y7 {
  list-style-position: inside;
}
.\#1fiw8al {
  border-radius: 1rem;
}
.\#1yoyac {
  border-radius: 1.5rem;
}
.\#1sxpzkv {
  border-radius: 9999px;
}
.\#1idyy4q {
  border-radius: 0.5rem;
}
.\#18gp358 {
  border-radius: 0.375rem;
}
.\#1fucycm {
  grid-row-start: 1;
}
.\#1utjbpi {
  text-decoration-line: underline;
}
.\#ub37eh {
  border-top-left-radius: 0.375rem;
  border-top-right-radius: 0.375rem;
}
.\#120pnva {
  --sc6ze8: rgba(127, 131, 137, 1);
  --z5bexf: rgba(127, 131, 137, 0);
  --wt1r4o: var(--sc6ze8), var(--z5bexf);
}
.\#1ih7lqb {
  --17cwy6m: 0.2;
}
.\#ks1otn {
  --z5bexf: rgba(96, 100, 105, 1);
}
.\#ajob42:focus-within {
  --20lssk: 1;
  border-color: rgba(204, 206, 211, var(--20lssk));
}
.\#tl0hja:hover {
  --vkgkf8: 1.1;
  --1lff04g: 1.1;
  transform: var(--mfoggb);
}
.\#1go6ul5:hover {
  --dxr4o8: 1;
  color: rgba(5, 136, 240, var(--dxr4o8));
}
.\#aigrty:hover {
  --dxr4o8: 1;
  color: rgba(96, 100, 105, var(--dxr4o8));
}
.\#wrnn2q:hover {
  cursor: pointer;
}
.\#pgwhp5:hover {
  --17cwy6m: 1;
  background-color: rgba(142, 200, 246, var(--17cwy6m));
}
.\#1opl9qh:hover {
  --17cwy6m: 1;
  background-color: rgba(5, 136, 240, var(--17cwy6m));
}
.\#tcneks:hover {
  --17cwy6m: 1;
  background-color: rgba(96, 100, 105, var(--17cwy6m));
}
.\#1wl0jei:hover {
  --17cwy6m: 1;
  background-color: rgba(224, 225, 228, var(--17cwy6m));
}
.\#ka5nbd:hover {
  --17cwy6m: 1;
  background-color: rgba(239, 240, 242, var(--17cwy6m));
}
.\#1j4dum1:hover {
  --20lssk: 1;
  border-color: rgba(216, 217, 222, var(--20lssk));
}
.\#1k6iveq:disabled {
  cursor: default;
}
.\#lvqyj9:disabled {
  display: none;
}
.\#g79k8i:disabled:hover {
  background-color: inherit;
}
.\#1jbpqk1[data-active] {
  --dxr4o8: 1;
  color: rgba(27, 32, 34, var(--dxr4o8));
}
.\#1bk5mm5[data-direction="outgoing"] .\#1p7rnfo {
  --dxr4o8: 1;
  color: rgba(127, 131, 137, var(--dxr4o8));
}
.\#6qs5l9 *::marker,
.\#6qs5l9::marker {
  --dxr4o8: 1;
  color: rgba(127, 131, 137, var(--dxr4o8));
}
.\#zf3lqr[data-direction="system"] {
  --dxr4o8: 1;
  color: rgba(138, 141, 148, var(--dxr4o8));
}
.\#1qs87sa[data-disabled] {
  --dxr4o8: 1;
  color: rgba(138, 141, 148, var(--dxr4o8));
}
.\#1a6p8j3[data-privacy] .\#c8fxdn {
  --dxr4o8: 1;
  color: rgba(138, 141, 148, var(--dxr4o8));
}
.\#1a6p8j3[data-terms] .\#lqh1jk {
  --dxr4o8: 1;
  color: rgba(138, 141, 148, var(--dxr4o8));
}
.\#1bk5mm5:hover .\#1ri2nmz {
  --dxr4o8: 1;
  color: rgba(53, 64, 29, var(--dxr4o8));
}
.\#1bk5mm5[data-direction="incoming"] .\#1apcjkc {
  --dxr4o8: 1;
  color: rgba(96, 100, 105, var(--dxr4o8));
}
.\#105bbk4 *::marker,
.\#105bbk4::marker {
  --dxr4o8: 1;
  color: rgba(96, 100, 105, var(--dxr4o8));
}
.\#1bk5mm5:hover .\#kmjao6 {
  --dxr4o8: 1;
  color: rgba(239, 240, 242, var(--dxr4o8));
}
.\#1a6p8j3[data-website] .\#ncf71 {
  --dxr4o8: 1;
  color: rgba(244, 250, 255, var(--dxr4o8));
}
.\#1a6p8j3[data-phone] .\#14odizl {
  --dxr4o8: 1;
  color: rgba(248, 250, 243, var(--dxr4o8));
}
.\#1a6p8j3[data-email] .\#8qplwd {
  --dxr4o8: 1;
  color: rgba(254, 247, 250, var(--dxr4o8));
}
.\#1bk5mm5[data-direction="outgoing"] .\#1beetpu *::marker,
.\#1bk5mm5[data-direction="outgoing"] .\#1beetpu::marker {
  --dxr4o8: 1;
  color: rgba(255, 255, 255, var(--dxr4o8));
}
.\#1bk5mm5[data-direction="outgoing"] .\#x9v1pa {
  --dxr4o8: 1;
  color: rgba(255, 255, 255, var(--dxr4o8));
}
.\#17ow33j[data-type="success"] .\#tlt1i6 {
  --dxr4o8: 1;
  color: rgba(34, 197, 94, var(--dxr4o8));
}
.\#17ow33j[data-type="error"] .\#ypi50p {
  --dxr4o8: 1;
  color: rgba(239, 68, 68, var(--dxr4o8));
}
.\#gbpavf[data-state="closed"] .\#5ulrkv {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.\#anpnl0::after {
  content: var(--328t5w);
  animation: \#1u71gqz1.5sease-ininfinite;
}
.\#pgyiw2::before {
  content: var(--328t5w);
  animation: \#1u71gqz1.5sease-ininfinite;
}
.\#gbpavf[data-disabled] .\#14dvc75 {
  cursor: default;
}
.\#8i13t1[data-disabled] {
  cursor: not-allowed;
}
.\#1bk5mm5[data-direction="incoming"] .\#t4z3wc {
  display: flex;
}
.\#1923q8b::after {
  content: var(--328t5w);
  height: 0.375rem;
}
.\#1omkt21::before {
  content: var(--328t5w);
  height: 0.375rem;
}
.\#1a6p8j3[data-privacy] .\#1yjezfp {
  height: 1.25rem;
}
.\#1a6p8j3[data-terms] .\#1ui61qv {
  height: 1.25rem;
}
.\#gbpavf[data-state="open"] .\#lauf0c {
  height: 3rem;
}
.\#gbpavf[data-state="open"] .\#ff5lje {
  height: 4rem;
}
.\#bsicnt[data-activated] {
  display: none;
}
.\#hkymoh[data-disabled] {
  display: none;
}
.\#1ofo9x5[data-group-activated] {
  display: none;
}
.\#1krzp92[data-loaded="false"] {
  display: none;
}
.\#d131sj[data-disabled="true"] .\#1cav4nn {
  display: none;
}
.\#1ok9cd9[data-disabled] .\#179mjfv {
  display: none;
}
.\#1a6p8j3[data-email] .\#9rkyu8 {
  display: none;
}
.\#1a6p8j3[data-phone] .\#1evhg8f {
  display: none;
}
.\#gbpavf[data-state="open"] .\#k39bbv {
  display: none;
}
.\#1a6p8j3[data-website] .\#7aobku {
  display: none;
}
.\#16axwhv[data-is-at-bottom="true"] {
  opacity: 0;
}
.\#1a6p8j3[data-privacy] .\#146oux8 {
  padding: 0px;
}
.\#1a6p8j3[data-terms] .\#1gjydun {
  padding: 0px;
}
.\#6u87cn::after {
  content: var(--328t5w);
  width: 0.375rem;
}
.\#451cz7::before {
  content: var(--328t5w);
  width: 0.375rem;
}
.\#1bk5mm5[data-direction="outgoing"] .\#c8u86r {
  --17cwy6m: 1;
  background-color: rgba(0, 144, 255, var(--17cwy6m));
}
.\#1a6p8j3[data-website] .\#1k1j9v8 {
  --17cwy6m: 1;
  background-color: rgba(0, 144, 255, var(--17cwy6m));
}
.\#1th5xpp::after {
  content: var(--328t5w);
  --17cwy6m: 1;
  background-color: rgba(96, 100, 105, var(--17cwy6m));
}
.\#a15f1n::before {
  content: var(--328t5w);
  --17cwy6m: 1;
  background-color: rgba(96, 100, 105, var(--17cwy6m));
}
.\#1a6p8j3[data-phone] .\#qpblhm {
  --17cwy6m: 1;
  background-color: rgba(177, 231, 98, var(--17cwy6m));
}
.\#1a6p8j3[data-email] .\#12vay8h {
  --17cwy6m: 1;
  background-color: rgba(220, 63, 150, var(--17cwy6m));
}
.\#cnsqxy[data-active] {
  --17cwy6m: 1;
  background-color: rgba(239, 240, 242, var(--17cwy6m));
}
.\#1bk5mm5[data-direction="incoming"] .\#ecwgfu {
  --17cwy6m: 1;
  background-color: rgba(239, 240, 242, var(--17cwy6m));
}
.\#1bk5mm5[data-direction="incoming"] .\#1mpo827 {
  --20lssk: 1;
  border-color: rgba(224, 225, 228, var(--20lssk));
}
.\#14afji1[data-disabled] {
  outline: 2px solid transparent;
  outline-offset: 2px;
}
.\#gbpavf[data-state="open"] .\#zi48hx {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}
.\#gbpavf[data-state="open"] .\#7vxi8s {
  font-size: 1.5rem;
  line-height: 2rem;
}
.\#238iip[data-direction="system"] {
  font-size: 0.75rem;
  line-height: 1rem;
}
.\#1auc82m[data-orientation="landscape"] {
  aspect-ratio: 4/3;
}
.\#td4f9c[data-orientation="portrait"] {
  aspect-ratio: 3/4;
}
.\#fvz414[data-orientation="square"] {
  aspect-ratio: 1/1;
}
.\#1yjqrf6[data-privacy] {
  grid-column: span 3 / span 3;
}
.\#3sgx7n[data-terms] {
  grid-column: span 3 / span 3;
}
.\#xltobo[data-horizontal="center"] {
  align-items: center;
}
.\#1low6nk[data-vertical="center"] {
  align-items: center;
}
.\#1vv1vc3[data-horizontal="right"] {
  align-items: flex-end;
}
.\#19ec8yy[data-vertical="bottom"] {
  align-items: flex-end;
}
.\#nfjm5p[data-horizontal="left"] {
  align-items: flex-start;
}
.\#kfbn8t[data-vertical="top"] {
  align-items: flex-start;
}
.\#wq4g69[data-horizontal="stretch"] {
  justify-content: space-between;
}
.\#3v7tqd[data-vertical="stretch"] {
  justify-content: space-between;
}
.\#1xo69as[data-direction="system"] {
  justify-content: center;
}
.\#1ewjmez[data-horizontal="center"] {
  justify-content: center;
}
.\#hoorba[data-vertical="center"] {
  justify-content: center;
}
.\#34sls3[data-direction="outgoing"] {
  justify-content: flex-end;
}
.\#co4aqr[data-horizontal="right"] {
  justify-content: flex-end;
}
.\#10thw4s[data-vertical="bottom"] {
  justify-content: flex-end;
}
.\#gbpavf[data-state="open"] .\#14vszna {
  justify-items: center;
}
.\#10ipamk[data-direction="incoming"] {
  justify-content: flex-start;
}
.\#1qvr9ps > * {
  max-width: 26rem;
}
.\#gbpavf[data-state="open"] .\#m7km9v {
  margin-bottom: 0.5rem;
}
.\#gbpavf[data-state="closed"] .\#efgqtl {
  margin-right: 0.5rem;
}
.\#9j5bg3[data-direction="system"] {
  margin-top: 1rem;
}
.\#gbpavf[data-state="open"] .\#p92c72 {
  margin-top: 1.5rem;
}
.\#3u9h51[data-is-at-bottom="true"] {
  pointer-events: none;
}
.\#gbpavf[data-state="closed"] .\#uvxs2a {
  grid-row: span 2 / span 2;
}
.\#gbpavf[data-state="open"] .\#1lkq49i {
  text-align: center;
}
.\#gbpavf[data-state="closed"] .\#18osn0u {
  grid-row-start: 1 !important;
}
.\#gbpavf[data-state="closed"] .\#suxaoo {
  grid-column-start: 2;
}
.\#gbpavf[data-state="closed"] .\#efnb6d {
  grid-column-start: 3;
}
.\#gbpavf[data-state="open"] .\#1cappv3 {
  -ms-grid-columns: repeat(1, minmax(0, 1fr));
  grid-template-columns: repeat(1, minmax(0, 1fr));
}
.\#1kgi4ee::after {
  content: var(--328t5w);
  border-radius: 9999px;
}
.\#6y79vk::before {
  content: var(--328t5w);
  border-radius: 9999px;
}
.\#1a6p8j3:hover .\#vqkoqp {
  text-decoration-line: underline;
}
.\#1bk5mm5:hover .\#1o9546u {
  text-decoration-line: underline;
}
.\#1bk5mm5[data-direction="incoming"] .\#1c0j9c5 {
  border-bottom-left-radius: 0.375rem;
}
.\#1bk5mm5[data-direction="outgoing"] .\#fzoog5 {
  border-bottom-right-radius: 0.375rem;
}
.\#1bk5mm5:hover .\#dqf9xx {
  --17cwy6m: 0.8;
}
.\#1mrpwv7[data-disabled]:hover {
  --20lssk: 1;
  border-color: rgba(224, 225, 228, var(--20lssk));
}
.\#gbpavf[data-disabled] .\#2392od:hover {
  background-color: inherit;
}
@container (min-width:20rem) {
  .\#3azgbb {
    width: 14rem;
  }
}
@container (min-width:28rem) {
  .\#4zed7 {
    width: auto;
  }
}
@container (min-width:28rem) {
  .\#qovkxa {
    margin-bottom: auto;
  }
}
@container (min-width:28rem) {
  .\#9oo0ot {
    grid-auto-columns: max-content;
  }
}
.\#181c3pv::after {
  content: var(--328t5w);
  animation-delay: 0.2s;
}
.\#chew64 {
  animation-delay: 0.1s;
}
